@page "/home"
    <section class="slide-show">
        <div class="slideshow-container">
            <div class="slide fade">
                <img src="slide1.jpg" alt="Slide 1">
            </div>
            <div class="slide fade">
                <img src="slide2.jpg" alt="Slide 2">
            </div>
            <div class="slide fade">
                <img src="slide3.jpg" alt="Slide 3">
            </div>
            <div class="slide fade">
                <img src="slide4.jpg" alt="Slide 3">
            </div>
            <div class="slide fade">
                <img src="slide5.jpg" alt="Slide 3">
            </div>
        </div>
    </section>
    <section class="new-product">
        <div class="title">
            <hr>
            <span>Sản phẩm mới</span>
            <hr>
        </div>
        <div class="n-prd-flex">
            <div class="n-prd">
                <a href=""><img src="m16.jpg" alt=""></a>
                <a href=""><img src="g16.jpg" alt=""></a>
            </div>
            <div class="n-prd">
                <a href=""><img src="zenbook.jpg" alt=""></a>
                <a href=""><img src="zflip.jpg" alt=""></a>
            </div>
        </div>
    </section>
    <section class="news">
        <div class="title">
            <hr>
            <span>Tin tức - Sự kiện</span>
            <hr>
        </div>
    </section>